@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
html {
  font-size: 62.5%;
}
@media only screen and (max-width: 64em) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 33.75em) {
  html {
    font-size: 40%;
  }
}

*, *::after, *::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: "Alata", sans-serif;
  font-weight: "Alata", sans-serif;
  font-size: 1.5rem;
  color: hsl(0deg, 0%, 55%);
}

.header {
  padding: 3.4rem 12.6rem;
  height: 100vh;
  background-image: url("../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 33.75em) {
  .header {
    background-image: url("../images/mobile/image-hero.jpg");
    padding: 0;
  }
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem 0 2rem;
}
@media only screen and (max-width: 64em) {
  .header__nav {
    position: relative;
    padding-top: 7rem;
  }
}
@media only screen and (max-width: 64em) {
  .header__nav--main-nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
    padding-top: 10rem;
    background: black;
    width: 100%;
    height: 70vh;
    top: 100%;
    left: 0;
    display: none;
    transition: all 0.25s ease;
  }
}
@media only screen and (max-width: 33.75em) {
  .header__nav--main-nav {
    padding-top: 10rem;
    height: 100vh;
  }
}
.header__nav--main-nav--link {
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
  position: relative;
  padding-bottom: 0.6rem;
  transition: all 0.25s ease;
}
@media only screen and (max-width: 64em) {
  .header__nav--main-nav--link {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
  }
}
.header__nav--main-nav--link::after {
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  background: transparent;
  height: 2px;
  width: 40%;
  transition: all 0.25s ease;
}
.header__nav--main-nav--link:not(:last-child) {
  margin-right: 2.8rem;
}
@media only screen and (max-width: 64em) {
  .header__nav--main-nav--link:not(:last-child) {
    margin-right: 0;
    margin-bottom: 5.2rem;
  }
}
.header__nav--main-nav--link:hover::after, .header__nav--main-nav--link:active::after {
  background: hsl(0deg, 0%, 100%);
}
.header__nav--mobile-nav {
  display: none;
}
@media only screen and (max-width: 64em) {
  .header__nav--mobile-nav {
    display: block;
    transition: all 0.25s ease;
  }
}
.header__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 2rem;
}
@media only screen and (max-width: 64em) {
  .header__content {
    justify-content: center;
  }
}
.header__content--text-box {
  width: 50%;
  padding: 3.2rem;
  border: 2px solid hsl(0deg, 0%, 100%);
}
@media only screen and (max-width: 64em) {
  .header__content--text-box {
    width: 100%;
  }
}
.header__content--text-box--text {
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
  font-size: 6.2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

.intro {
  background: hsl(0deg, 0%, 100%);
  padding: 16.2rem 14.6rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
@media only screen and (max-width: 64em) {
  .intro {
    padding: 12rem 5.6rem;
    flex-direction: column;
    justify-content: center;
  }
}
@media only screen and (max-width: 33.75em) {
  .intro {
    padding: 12rem 1.8rem;
  }
}
@media only screen and (max-width: 64em) {
  .intro__image {
    content: url("../images/mobile/image-interactive.jpg");
    margin-bottom: 5.6rem;
  }
}
@media only screen and (max-width: 33.75em) {
  .intro__image {
    width: 100%;
    height: 100%;
  }
}
.intro__content {
  background: hsl(0deg, 0%, 100%);
  padding: 9rem 0 0 9rem;
  position: absolute;
  width: 40%;
  top: 44%;
  right: 12%;
}
@media only screen and (max-width: 64em) {
  .intro__content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    top: 0;
    right: 0;
  }
}
.intro__content--header {
  color: hsl(0deg, 0%, 0%);
  font-size: 4.8rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 3.4rem;
}
@media only screen and (max-width: 64em) {
  .intro__content--header {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 64em) {
  .intro__content--text {
    width: 100%;
    text-align: center;
  }
}

.project {
  padding: 0 14.6rem 17.8rem 14.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 64em) {
  .project {
    padding: 0 5.6rem 17.8rem 5.6rem;
  }
}
@media only screen and (max-width: 33.75em) {
  .project {
    padding: 0 1.8rem 12rem 1.8rem;
  }
}
.project__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 8.2rem;
}
@media only screen and (max-width: 33.75em) {
  .project__header {
    margin-bottom: 6rem;
    justify-content: center;
  }
}
.project__header--heading {
  font-size: 4.8rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: hsl(0deg, 0%, 0%);
}
@media only screen and (max-width: 33.75em) {
  .project__header--heading {
    width: 100%;
    text-align: center;
  }
}
.project__header--cta {
  font-size: 1.5rem;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  color: hsl(0deg, 0%, 0%);
  padding: 1.2rem 3.6rem;
  background: none;
  border: 2px solid hsl(0deg, 0%, 0%);
  cursor: pointer;
  transition: all 0.25s ease;
}
.project__header--cta:is(:hover, :active) {
  background: hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 100%);
}
@media only screen and (max-width: 33.75em) {
  .project__header--cta {
    display: none;
  }
}
.project__item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2.8rem;
}
@media only screen and (max-width: 64em) {
  .project__item {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 33.75em) {
  .project__item {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, min-content);
    margin-bottom: 2.8rem;
  }
}
.project__item--items {
  position: relative;
  cursor: pointer;
  transition: all 0.25s ease;
}
.project__item--items--img {
  filter: brightness(90%);
  width: 100%;
  height: 100%;
}
.project__item--items--text {
  text-transform: upper;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: hsl(0deg, 0%, 100%);
  font-size: 3rem;
  position: absolute;
  width: 60%;
  text-align: left;
  bottom: 10%;
  left: 20%;
  z-index: 4;
  transition: all 0.25s ease;
}
.project__item--items:hover::before, .project__item--items:active::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: hsl(0deg, 0%, 100%);
  opacity: 0.7;
  z-index: 2;
  transition: all 0.25s ease;
}
.project__item--items:is(:hover, :active) .project__item--items--text {
  color: hsl(0deg, 0%, 0%);
}
@media only screen and (max-width: 33.75em) {
  .project__item--items--1--img {
    content: url("../images/mobile/image-deep-earth.jpg");
  }
  .project__item--items--2--img {
    content: url("../images/mobile/image-night-arcade.jpg");
  }
  .project__item--items--3--img {
    content: url("../images/mobile/image-soccer-team.jpg");
  }
  .project__item--items--4--img {
    content: url("../images/mobile/image-grid.jpg");
  }
  .project__item--items--5--img {
    content: url("../images/mobile/image-from-above.jpg");
  }
  .project__item--items--6--img {
    content: url("../images/mobile/image-pocket-borealis.jpg");
  }
  .project__item--items--7--img {
    content: url("../images/mobile/image-curiosity.jpg");
  }
  .project__item--items--8--img {
    content: url("../images/mobile/image-fisheye.jpg");
  }
}
.project__cta {
  display: none;
}
@media only screen and (max-width: 33.75em) {
  .project__cta {
    display: block;
    font-size: 1.5rem;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    color: hsl(0deg, 0%, 0%);
    padding: 1.2rem 3.6rem;
    background: none;
    border: 2px solid hsl(0deg, 0%, 0%);
    cursor: pointer;
    transition: all 0.25s ease;
  }
  .project__cta:is(:hover, :active) {
    background: hsl(0deg, 0%, 0%);
    color: hsl(0deg, 0%, 100%);
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: hsl(0deg, 0%, 0%);
  padding: 4rem 14.6rem;
}
@media only screen and (max-width: 64em) {
  .footer {
    padding: 4rem 5.6rem;
  }
}
@media only screen and (max-width: 33.75em) {
  .footer {
    padding: 6.8rem 1.8rem;
    flex-direction: column;
  }
}
.footer__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@media only screen and (max-width: 33.75em) {
  .footer__header {
    align-items: center;
    margin-bottom: 5.6rem;
  }
}
.footer__header--logo {
  margin-bottom: 2.8rem;
}
@media only screen and (max-width: 33.75em) {
  .footer__header--logo {
    margin-bottom: 4.2rem;
  }
}
.footer__header--nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media only screen and (max-width: 33.75em) {
  .footer__header--nav {
    flex-direction: column;
    align-items: center;
  }
}
.footer__header--nav--item {
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
  position: relative;
}
.footer__header--nav--item::after {
  content: "";
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1px;
  width: 60%;
  background: transparent;
  position: absolute;
  transition: all 0.25s ease;
}
.footer__header--nav--item:is(:active, :hover)::after {
  background: hsl(0deg, 0%, 100%);
}
.footer__header--nav--item:not(:last-child) {
  margin-right: 2.8rem;
}
@media only screen and (max-width: 33.75em) {
  .footer__header--nav--item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 3.4rem;
  }
}
.footer__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
@media only screen and (max-width: 33.75em) {
  .footer__contact {
    flex-direction: column;
    align-items: center;
  }
}
.footer__contact--list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.4rem;
}
.footer__contact--list--item {
  text-decoration: none;
  position: relative;
}
.footer__contact--list--item::after {
  content: "";
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1px;
  width: 60%;
  background: transparent;
  position: absolute;
  transition: all 0.25s ease;
}
.footer__contact--list--item:is(:active, :hover)::after {
  background: hsl(0deg, 0%, 100%);
}
.footer__contact--list--item:not(:last-child) {
  margin-right: 1rem;
}
@media only screen and (max-width: 33.75em) {
  .footer__contact--list--item:not(:last-child) {
    margin-right: 2rem;
  }
}/*# sourceMappingURL=main.css.map */