
.header{
    padding: 3.4rem calc($padding-LR - 2rem);
    height: 100vh;
    background-image: url('../images/desktop/image-hero.jpg') ;
    background-repeat:no-repeat;
    background-size: cover;
    @include break($bp-xr){
        background-image: url('../images/mobile/image-hero.jpg');
        padding: 0
    }


    //Header Navigation styling
    &__nav{
        @include flex(row,space-between,center);
        padding: 2rem 2rem 0 2rem;
        @include break($bp-air){
            position: relative;
            padding-top: 7rem;
        }
        // background: $color-Black;
        
        &--main-nav{
            @include break($bp-air){
                position: absolute;
                @include flex(column,flex-start,flex-start);
                padding: 2rem;
                padding-top: 10rem;
                background: black;
                width: 100%;
                height: 70vh;
                top:100%;
                left: 0;
                display: none;
                transition: $transition;
            }
            @include break($bp-xr){
                padding-top: 10rem;
                height: 100vh;
            }
            &--link{
                text-decoration: none;
                color:$color-White;
                position: relative;
                padding-bottom: 0.6rem;
                transition: $transition;
                @include break($bp-air){
                    font-family: $font-family-Jose;
                    font-weight: $font-weight-j;
                    text-transform: uppercase;
                }
                &::after{
                    content: "";
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    position: absolute;
                    background: transparent;
                    height: 2px;
                    width: 40%;
                    transition: $transition;
                }
                
                &:not(:last-child){
                    margin-right: 2.8rem;
                    @include break($bp-air){
                        margin-right:0;
                        margin-bottom: 5.2rem;
                    }
                }
            
                &:hover,&:active{
                   &::after{
                     background: $color-White;
                   }
                }
            }
        }
        
        &--mobile-nav{
            display: none;
            @include break($bp-air){
                display: block;
                transition: $transition;
            }
        }
    }

    &__content{
        @include flex(row,flex-start,center);
        width: 100%;
        height: 100%;
        padding:  0 2rem;
        @include break($bp-air){
            justify-content: center;
        }
        &--text-box{
            width: 50%;
            padding:3.2rem;
            @include break($bp-air){
                width: 100%;
            }
            border: 2px solid $color-White;
            &--text{
                color:$color-White;
                text-transform: uppercase;
                font-size: $font-size-header;
                font-family: $font-family-Jose;
                font-weight: $font-weight-j;
            }
        }
    }
}